* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.d-none {
    visibility: hidden;
}

.main {
    height: 100vh;
    background-image: url("./img/cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 80px;
    padding: 60px;
    text-align: center;
    color: #130f40;
}

.box {
    float:left;
    width: 300px;
    height: 400px;
    transition: transform .2s;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
    text-align: center;
}

.box1 {
    background-color: #30336b;
}

.box2 {
    background-color: #95afc0;
    /* background-image: url("./img/chords.jpg") cover no-repeat center/center; */
}
.box3 {
    background-color: #c7ecee;
}

.box:hover {
    transform: scale(1.05);
}

.box-title {
    color: white;
    font-size: 55px;
}

/* CHORD TRAINER */
.button {
    border-radius: 3px;
    padding: 20px 40px;
    border: none;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    background-color: #f9ca24;
    color: white;
    margin: 20px;
}

.button:hover {
    background-color: #dab120;
    color: rgb(233, 233, 233);
    transition: background-color 0.5s;
}

.trainer {
    flex-direction: column;
}
.instruction {
    text-align: center;
    font-size: 30px;
    display: flex;
    margin-bottom: 30px;
}

.chord-box {
    height: 300px;
    width: 200px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.chord-list {
    font-size: 20px;
}

/* CHORD DRILLS */
.drill {
    display: flex;
    flex-direction: column;
    background-color: #c7ecee;
    text-align: center;
    padding: 40px;
}

.counter p {
    font-size: 30px;
}